.card .sin-stock {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 111px;
    height: 79px;
    z-index: 1;
}
.card-img-top {
    z-index: 0;
}

.card {
    position: relative;
  }
.oferta {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;
    transform: rotate(20deg);
    font-size: 1.5rem;
}

.zoom {
    transition: transform .8s; 
}
 
.zoom:hover {
    transform: scale(1.04); 
}